:root {
    --color-background: #121212;
    --color-surface: 18, 18, 18; /* #121212 */
    --color-error: 207, 102, 121; /* #cf6679 */
    --color-primary: 187, 134, 252; /* #bb86fc */
    --color-primary-variant: #3700b3;
    --color-secondary: #03dac5;
    --color-on-primary: #000000;
    --color-on-secondary: #000000;
    --color-on-background: #ffffff;
    --color-on-surface: 255, 255, 255;
    --color-on-error: #000000;
}

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    background: var(--color-background);
    color: var(--color-on-background);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

button {
    border: none;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 4rem;
}

button.newbook {
    
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    background-color: rgb(var(--color-primary));
    color: var(--color-on-surface);
    padding:0.5rem;

    cursor: pointer;

    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.card-container {

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 320px));
    grid-auto-rows: 320px;
    gap: 30px;
    justify-content: center;
}

.card {
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: rgba(var(--color-on-surface), 0.1);

    display: grid;

}

.card .detals {
    display: grid;
}

.card .actionbtns {
    position: relative;
    align-self: end;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .checkmark {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.card .checkmark svg {
    fill: var(--color-error);
}

.card.finished {
    border-left: 1rem solid rgb(var(--color-primary));
}

.card.finished .checkmark svg {
    fill: rgb(var(--color-primary));
}

.card.unfinished {
    border-left: 1rem solid rgb(var(--color-on-surface), 0.1);
}

.card.unfinished .checkmark svg {
    fill: rgb(var(--color-on-surface), 0.1);
}

.card .deletebtn {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.card .deletebtn svg {
    fill: rgb(var(--color-error));
}

.modal {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20rem; /* 320px */
    /* height: 480px; */
    background-color: rgba(var(--color-on-surface), 0.25);
    color: rgba(var(--color-on-surface));
    border: none;
    padding: 1rem;
    border-radius: 1rem;

}

.modal::backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(var(--color-surface), 0.75);
    z-index: 0;
}

.modal .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.modal h1 {
    font-size: 2rem;
}

.modal .description {
    font-size: 1rem;
}

.modal form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(4, min-content);
    align-items: center;
    gap: 1rem;
}

.modal .form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.modal .form-field #finished {
    align-self: start;
}

.modal .buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.modal button {
    border-radius: 0.5rem;
    background-color: rgb(var(--color-primary));
    padding: 0.5rem 1rem;
}

.modal .modal-corner {

    width: 2rem;
    height: 2rem;

    position: fixed;
    top: 1rem;
    right: 1rem;
}

.modal .modal-corner .close {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0.125rem;
}

.modal .modal-corner .close svg {
    fill: var(--color-on-primary);
}