:root {
    --color-background: #121212;
    --color-surface: #121212;
    --color-error: #cf6679;
    --color-primary: #bb86fc;
    --color-primary-variant: #3700b3;
    --color-secondary: #03dac5;
    --color-on-primary: #000000;
    --color-on-secondary: #000000;
    --color-on-background: #ffffff;
    --color-on-surface: 255, 255, 255;
    --color-on-error: #000000;
}

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    background: var(--color-background);
    color: var(--color-on-background);
}

ul {
    list-style-type: none;
}

button {
    border: none;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 4rem;
}

button.newbook {
    
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    background-color: var(--color-primary);
    color: var(--color-on-surface);
    padding:0.5rem;

    cursor: pointer;

    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.card-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

.card {
    border: 1px solid red;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: rgba(var(--color-on-surface), 0.1);
}

.card.finished {
    border-left: 4px solid var(--color-primary);
}

.card.unfinished {
    border-left: 4px solid var(--color-secondary);
}

.modal {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 320px;
    height: 480px;
    background-color: rgba(var(--color-on-surface), 0.25);
    color: rgba(var(--color-on-surface));
    border: none;
    padding: 20px;
}

.modal h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.modal .description {
    font-size: 1rem;
    margin-bottom: 1rem;
}